p{
    font-size: 40px;

}

.block{
    width: 900px;
    height: 100px;
    background:  #fc9b9b;
    position: fixed;
    right: 50px;
    left: 50%;
    bottom: 100px;
}

.circle{
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    background: #a48bff;
    left: 50px;
    bottom: 50%;
}