.bro_block{
    height: 100px;
    background: rgb(75, 41, 4);
    display: flex;
}

.block{
    color: rgb(209, 44, 241);
}

.red_block{
    background: red;
    width: 100px;
    height: 100px;
    justify-content: center;
}

.container {
    background-color: #b688ff; 
    padding: 5px;
    width: 300px;
    color: white;
}

.purple_block {
    display: flex;
    margin-top: 10px;
}

.item {
    background-color: #6a4f9a;
    padding: 10px;
    text-align: center;
}

